extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Ms.Sage Youngblood

        //- Feel free personalize the title below
        p.lead.text-light
          | Web Designer/Developer

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
          | I’m a web developer. I enjoy experimenting with HTML, CSS, and JavaScript; eagerly looking forward to solidying myself with Python, Ruby and 
          | various graphic design technologies. I am extremely technology curious and I am focussed on staying on top of changes that will sustain me in 
          | today's world of technology. I desire to build beautiful websites with expertise that visually uplift, inspire, empower and inform. I desire 
          | to see the world of Technology become Pink.  More Women - More Solutions"

       .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Graphic Design
          li Web Design
          li HTML/XHTML/CSS
          li PhotoShop
          li JavaScript
          li Microsoft Office Suite
        
        h6 Contact Info

        //- Add your own contact info
        ul
          li #{862-243-2327}
          li #{syoungblood1169@gmail.com}

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/feed/') LinkedIn
        a.button.expanded(href='https://github.com/younso9/') GitHub
  
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  