extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

      //- Title
      h1 Let's make the world of Technology Pinker.  More Women - More Solutions.

      //- Description 
      p.lead.text-light
        | This portfolio consists of my first 5 projects using JavaScript, CSS, HTML, Node, Express, and Pug templates.
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3
      each project, index in projects      
        .cell
          a(href=`/project/${index}`)
            img.thumbnail(src=project.main_img)
            h5 #{project.project_name}
